

/*********************************(1112px)*******************************/

@media screen and (max-width:1112px){
    h5{
        &::before{
          width: 342px;
        }
       &::after{
        width: 342px;
      }
    }
    .chapter_2{
        & .rotat_box{
            margin-left: -98px;
        }
        & .paera{
            margin: 72px 65px 40px;
            column-gap: 50px;
        }
    }
    .sect-2{
        & .container{
            & .rotat_box-1{
                margin-left: -90px;
            }
            & .logodesin{
                &::after{
                    left: 358px;
                }
                & i{
                    left: 463px;
                }
            }
        }
    }
    .sect-3 {
        bottom: -156rem;
        & .container{
            & .team_box{
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 350px;
                            height: 294px;
                            top: 0;
                            left: -32px;
                        }
                    }
                }
            }
        }
    }
    .sect-4{
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 415px;
                    }
                    & .b1{
                        left: 423px;
                    }
                    & img{
                        width: 150px;
                        margin: 15px 0 0 265px;
                    }
                }
                & .line{
                    height: 584px;
                    left: 479px;
                }
                & .jurnal-1{
                    & .v2{
                        width: 415px;
                    }
                    & .m1 , .m2{
                        width: 150px;
                    }
                }
            }
            & .exp{
                margin: 143px 0 0 360px;
            }
        }
    }
 
}

/*********************************(1024px)*******************************/

@media screen and (max-width:1024px){
    h5{
        bottom: 83rem;
        &::before ,::after{
          width: 300px;
        }
       &::after{
        width: 300px;
      }
    }
}

/*********************************(900px)*******************************/

@media screen and (max-width:900px){
    .navbar{
        & .navbar-brand{
            left: auto;
        }
        & .navbar-nav{
            & li{
                padding: 0 0 10px !important;
                & a{
                    &::after{
                        left: 224px;
                    }
                }
            }
        }
    }
    h5{
       
        margin: 0px 608px;
        width: 190px;
        &::before{
          width: 0;
        }
       &::after{
        width: 0;
      }
    }
    .chapter_2{
        & .rotat_box{
            margin-left: -211px;
        }
        & .paera{
            margin: 50px 0;
        }
    }
    .sect-2{
        height: 77rem;
        & .container{
            & .rotat_box-1{
                margin-left: -211px;
            }
            & .logodesin{
                &::after{
                    left: 237px;
                }
                & i{
                    left: 340px;
                }
            }
        }
    }
    .sect-3 {
        bottom: -158rem;
        & .container{
            & .team_box{
                margin: 0 -90px;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 309px;
                        }
                        & .content {
                            padding: 70px 43px 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .sect-4{
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 315px;
                    }
                    & .b1{
                        left: 323px;
                    }
                    & img{
                        width: 130px;
                        margin: 10px 0 0 185px;
                    }
                }
                & .line{
                    height: 524px;
                    left: 367px;
                }
                & .jurnal-1{
                    & .v2{
                        width: 315px;
                    }
                    & .m1 , .m2{
                        width: 125px;
                    }
                }
            }
            & .exp{
                margin: 100px 0 0 230px;
            }
        }
    }
    .sect-5 {
        top: 47rem;
    }
}
/*********************************(800px)*******************************/

@media screen and (max-width:800px){
    h5 {
        display: none;
    }
    .sect-3 {
        & .container{
            & .team_box{
                margin: 0 -43px;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 277px;
                        }
                        & .content {
                          padding-top: 56px;
                        }
                    }
                }
            }
        }
    }
}
/*********************************(768px)*******************************/

@media screen and (max-width:768px){
  
    .sect-3 {
        & .container{
            & .team_box{
                margin: 0 -29px;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 263px;
                        }
                    }
                }
            }
        }
    }
}

/*********************************(720px)*******************************/

@media screen and (max-width:720px){
   
    .sect-2{
        & .container{
            & .rotat_box-1{
                margin-left: -211px;
            }
            & .logodesin{
                &::after{
                    left: 151px;
                }
                & i{
                    left: 340px;
                }
            }
            &  .paera-2 {
                width: 549px;
            }
        }
    }
    
}

/********************************(600px)***********************************/

@media screen and (max-width:600px){
    .navbar{
        padding: 10px 0px 0px;
        & .navbar-nav{
            & li{
                & a{
                    &::after{
                        left: 235px;
                    }
                }
            }
        }
    }
   
    .chapter_2{
        & .rotat_box{
            margin-left: -306px;
        }
        & .paera{
            column-count: auto;
        }
        .vr-line-2 {
            top: 128px;
        }
    }
    .sect-2{
        height: 85rem;
        & .container{
            & .rotat_box-1{
                margin-left: -306px;
            }
            & .paera-2 {
                width: 500px;
            }
            & .logodesin{
                &::after{
                    left: 148px;
                }
                & i{
                    left: 250px;
                }
            }
        }
    }
    .sect-3 {
        bottom: -184rem;
        height: 85rem;
        clip-path: polygon(0 38%, 100% 0%, 100% 100%, 0 72%);
        & .container{
            & .team_box{
                margin: 100px -35px 0;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 208px;
                        }
                        & .content {
                            padding-top: 50px;
                            font-size: 11px;
                        }
                       
                    }
                }
            }
            .icons {
                margin-top: 145px;
             }  
        }
    }
    .sect-4{
        top: 47rem;
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 500px;
                    }
                    & .b1{
                        display: none;
                    }
                    & img{
                        margin: 15px 0;
                    }
                }
                & .line{
                    display: none;
                }
                & .jurnal-1{
                    & .v2{
                        width: 500px;
                        margin: 0;
                    }
                    & .m1{
                       margin-left: 0;
                    }
                    & .b2{
                        display: none;
                    }
                }
            }
            .exp {
                margin: 105px 0 0 139px;
            }
        }
    }
    .sect-5{
        top: 55rem;
        & .container{
            &  .story{
                & .s1 {
                    padding: 16px 20px;
                    font-size: 16px;
                }
            }
        }
    }
}
/********************************(540px)***********************************/

@media screen and (max-width:540px){
    .navbar{
        & .navbar-brand{
            img{
                width: 120px;
            }
        }
    }
   
    .sect-3 {
        bottom: -199rem;
    height: 100rem;
    clip-path: polygon(0 32%, 100% 0%, 100% 100%, 0 100%);
        & .container{
            & .team_box{
                margin: 20px 50px 0;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 395px;
                        }
                        & .content {
                            padding-top: 70px;
                            font-size: 16px;
                        }
                       
                    }
                }
            }
            .icons {
                margin-top: 50px;
             }  
        }
    }
    .sect-4 {
        top: 75rem;
    }
    .sect-5 {
        top: 80rem;
    }
}
/********************************(480px)***********************************/

@media screen and (max-width:480px){
   
    .header{
        & p{
            padding-top: 100px;
        }
        & hr{
            margin: 20px auto 0;
        }
        & .text_3{
            margin-top: 30px;
            
        & h6{
            font-size: 18px;
            letter-spacing: 3px;
          }
        & h1{
            letter-spacing: 14px;
          }
        }
        .vr-line {
            height: 65px;
        }
    }
    .chapter_2{
        & .vr-line{
            height: 57px;
            margin: -17px auto 0;
        }
        & .c1 {
            font-size: 5rem;
        }
        & h2 {
            letter-spacing: 10px;
            font-size: 2rem;
        }
        & .rotat_box {
            margin-left: -345px;
        }
    }
    .sect-2{
        & .container{
            & .c2 {
                font-size: 5rem;
            }
            & .h3 {
                letter-spacing: 10px;
                font-size: 2rem;
            }
            & .rotat_box-1{
                margin-left: -344px;
            }
            & .logodesin{
                &::after{
                    left: 111px;
                }
                & i{
                    left: 208px;
                }
            }
            & .paera-2 {
                width: 370px;
            }
        }
    }
    .sect-3 {
        bottom: -194rem;
        & .container{
            & .c3{
                font-size: 5rem;
            }
            & .h4{
                letter-spacing: 10px;
                font-size: 2rem;
            }
        }
    }
    .sect-4{
        & .container{
            & .c4{
                font-size: 5rem;
            }
            & .h5{
                letter-spacing: 10px;
                font-size: 2rem;
            }
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 400px;
                    }
                }
                & .jurnal-1{
                    & .v2{
                        width: 400px;
                    }
                }
            }
            .exp {
                width: 177px;
                font-size: 13px;
                margin: 91px 0 0 129px;
            }
        }
    }
    .sect-5{
        & .container{
            &  .story{
                & .s1 {
                    padding: 18px 13px;
                    font-size: 13px;
                }
            }
        }
    }
}
/********************************(414px)***********************************/

@media screen and (max-width:414px){
    .navbar{
        & .navbar-nav{
            & li{
                & a{
                    &::after{
                        left: 165px;
                    }
                }
            }
        }
    }
  
    .chapter_2{
        & .rotat_box {
            margin-left: -383px;
        }
    }
    .sect-2{
        & .container{
            & .rotat_box-1{
                margin-left: -385px;
            }
            & .logodesin{
                &::after{
                    left: 76px;
                }
                & i{
                    left: 177px;
                }
            }
        }
    }
    .sect-3 {
        bottom: -195rem;
        & .container{
            & .team_box{
                margin: 20px 23px 0;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 337px;
                        }
                    }
                }
            }
        }
    }
    .sect-4{
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 360px;
                    }
                }
                & .jurnal-1{
                    & .v2{
                        width: 360px;
                    }
                }
            }
            .exp {
                margin: 75px 0 0 100px;
            }
        }
    }
    .sect-5{
        & .container{
            &  .story{
                & .s1 {
                    font-size: 11px;
                }
            }
        }
    }
}
/********************************(412px)***********************************/

@media screen and (max-width:412px){
    h5{
        bottom: 694px;
    }
}

/********************************(375px)***********************************/

@media screen and (max-width:375px){
    .navbar{
        & .navbar-nav{
            & li{
                & a{
                    &::after{
                        left: 145px;
                    }
                }
            }
        }
    }
  
    .header{
        & .text_3{
        & h6{
            font-size: 14px;
          }
        & h1{
            letter-spacing: 6px;
          }
        }
        .vr-line {
            height: 70px;
        }
    }
    .chapter_2{
        .vr-line-2 {
            width: 267px;
        }
    }
    .sect-2{
        clip-path: polygon(100% 17%, 100% 62%, 0 100%, 0 0);
        & .container{
           & .vr-line1 {
            height: 157px;
           }
           .paera-2 {
            width: 328px;
            }
            & .rotat_box-1{
                margin-left: -385px;
            }
            & .logodesin{
                &::after{
                    left: 59px;
                }
                & i{
                    left: 157px;
                }
            }
            .vr-line-2 {
                width: 90px;
                top: 178px;
            }
        }
    }
    .sect-3 {
        bottom: -198rem;
    }
    .sect-4{
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 325px;
                    }
                }
                & .jurnal-1{
                    & .v2{
                        width: 325px;
                    }
                }
            }
            .exp {
                margin: 75px 0 0 70px;
            }
        }
    }
    .sect-5{
        & .container{
            &  .story{
                margin-top: 50px;
                display: grid;
                & .s1 {
                    font-size: 15px;
                }
            }
        }
    }
}
/********************************(360px)***********************************/

@media screen and (max-width:360px){
    .navbar{
        & .navbar-nav{
            & li{
                & a{
                    &::after{
                        left: 136px;
                    }
                }
            }
        }
    }
  
    .chapter_2{
        & .rotat_box {
            margin-left: -415px;
        }
    }
    .sect-2{
        & .container{
            & .rotat_box-1{
                margin-left: -410px;
            }
            & .logodesin{
                &::after{
                    left: 50px;
                }
                & i{
                    left: 150px;
                }
            }
            & .paera-2 {
                width: 308px;
            }
        }
    }
    .sect-3 {
        bottom: -200rem;
        & .container{
            & .team_box{
                margin: 20px 9px 0;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 332px;
                        }
                        & .content {
                            padding-top: 70px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
/********************************(320px)***********************************/

@media screen and (max-width:320px){
    .navbar{
        & .navbar-nav{
            & li{
                & a{
                    &::after{
                        left: 115px;
                    }
                }
            }
        }
    }
  
    .header{
        & .text_3{
        & h6{
            font-size: 11px;
          }
        & h1{
            letter-spacing: 1px;
            margin-left: 0rem;
          }
        }
    }
    .chapter_2{
        & .c1 {
            font-size: 4rem;
        }
        h2 {
            letter-spacing: 5px;
        }
        & .rotat_box {
            margin-left: -437px;
        }
    }
    .sect-2{
        height: 95rem;
        clip-path: polygon(100% 17%, 100% 67%, 0 100%, 0 0);
        & .container{
            & .rotat_box-1{
                margin-left: -445px;
            }
            & .logodesin{
                &::after{
                    left: 30px;
                }
                & i{
                    left: 130px;
                }
            }
            & .paera-2 {
                width: 255px;
            }
            & .vr-line-2 {
                width: 155px;
                top: 247px;
            }
        }
    }
    .sect-3 {
        bottom: -212rem;
        & .container{
            & .vr-line2 {
                height: 337px;
            }
            & .team_box{
                margin: 20px 0 0;
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 278px;
                        }
                        & .content {
                            padding-top: 68px;
                        }
                    }
                }
            }
        }
    }
    .sect-4{
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 280px;
                    }
                }
                & .jurnal-1{
                    & .v2{
                        width: 280px;
                    }
                }
            }
            .exp {
                margin: 75px 0 0 45px;
            }
        }
    }
    .sect-5{
        & .container{
            &  .story{
                margin-top: 25px;
            }
        }
    }
}
/********************************(300px)***********************************/

@media screen and (max-width:300px){
    .navbar{
        & .navbar-nav{
            & li{
                & a{
                    &::after{
                        left: 102px;
                    }
                }
            }
        }
    }
  
    .sect-2{
        & .container{
            & .logodesin{
                &::after{
                    left: 18px;
                }
                & i{
                    left: 119px;
                }
            }
        }
    }
    .sect-4{
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 250px;
                    }
                }
                & .jurnal-1{
                    & .v2{
                        width: 250px;
                    }
                }
            }
            .exp {
                margin: 75px 0 0 38px;
            }
        }
    }
}
/********************************:280px)***********************************/

@media screen and (max-width:280px){
    .navbar{
        & .navbar-nav{
            & li{
                & a{
                    &::after{
                        left: 100px;
                    }
                }
            }
        }
    }
   
    .chapter_2{
        h2 {
            letter-spacing: 4px;
        }
    }
    .sect-2{
        & .container{
            & .h3 {
                letter-spacing: 9px;
            }
            & .paera-2 {
                width: 241px;
            }
            & .logodesin{
                &::after{
                    left: 9px;
                }
                & i{
                    left: 108px;
                }
            }
        }
    }
    .sect-3 {
        bottom: -216rem;
        & .container{
            & .h4 {
                letter-spacing: 8px;
            }
            & .team_box{
                & .t-box-1 , .t-box-2 , .t-box-3{                
                    & .chape{
                        & img{
                            width: 245px;
                        }
                        & .content {
                            padding-top: 75px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .sect-4{
        & .container{
            & .blog{
                & .jurnal-0{
                    & .v1{
                        width: 238px;
                    }
                }
                & .jurnal-1{
                    & .v2{
                        width: 238px;
                    }
                }
            }
            .exp {
                margin: 75px 0 0 28px;
            }
        }
    }
}